/* ----------------------------------------------------
   ESTILOS ACCESIBLES - TPF FINAL UNLP
   WCAG 2.0 AA (contraste, tipografía, foco)
---------------------------------------------------- */

/* Tipografía */
body {
  margin: 0;
  font-family: "Arial", "Helvetica", sans-serif;
  color: #444;
  background-color: #F6F6F6;
}

/* Encabezado */
header {
  background-color: #0072BB;
  padding: 0.8rem 2rem;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2rem;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

/* Títulos */
h1, h2, h3 {
  color: #004B87;
}

/* Estructura principal */
main {
  max-width: 900px;
  margin: auto;
  background: white;
  padding: 2rem;
  border-radius: 8px;
  margin-top: 1.5rem;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
}

/* Imágenes */
img {
  max-width: 100%;
  border-radius: 6px;
}

/* Formularios */
label {
  display: block;
  margin-top: 1rem;
  font-weight: bold;
}

input, select {
  width: 100%;
  padding: 0.6rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-top: 0.3rem;
}

button {
  margin-top: 1.5rem;
  padding: 0.8rem 1.2rem;
  background-color: #0072BB;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #004B87;
}

/* Pie de página */
footer {
  text-align: center;
  padding: 1.2rem;
  background-color: #0072BB;
  color: white;
  margin-top: 2rem;
}
